body {
  background-image: url('images/handwriting.jpg');
  font-family: 'Alegreya', serif;
  font-size: 20px;
}



h1, h2, h3 {
  font-family: 'Alegreya Sans', sans-serif;
}

#page-content a {
  text-decoration: none;
  color: rgb(90, 90, 90);
}

#page-content a:hover {
  color: rgba(255,0,0,0.7);
  opacity: 0.7;
}

.container {
  margin: 0 auto; /* This automatically sets left/right margins */
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.icon-link {
  font-size: 32px;
}

.icon-link a {
  color: rgba(255,0,0,0.7);
}

.icon-link a:hover {
  font-size: 32px;
}

.profile-img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.card {
  padding: 20px;
  border-radius: 3px;
  background-color: rgb(250, 245, 245);
  opacity: 0.8;
  box-shadow: 2px 2px 3px rgb(200, 200, 200);
  margin: 20px 160px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card {
    margin: 20px 140px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card {
    margin: 20px 120px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card {
    margin: 20px 80px;
  }
}

.text-center {
  text-align: center
}

.list-inline {
  padding-left: 0;
}

.list-inline li {
  display: inline-block;
  margin: 0 40px 0 40px;
}

.table-img {
  height: 200px;
  width: 300px;
}

.picture {
  opacity: 1;
  position: relative;
  text-align: center;
  color: white;
}

.picture:hover {
  opacity: 0.5;
}

.picture-caption {
  font-size: 45px;
  text-shadow: 2px 2px #ff0000;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.picture:hover .picture-caption {
  opacity: 1;
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(90, 90, 90, 0.8);
  color: white;
  padding-right: 10px;
}

#sidebar a {
  color: white;
  text-decoration: none;
  font-size: 42px;
}

#sidebar a:hover {
  color: rgb(150, 150, 150);
  text-decoration: none;
}

#sidebar ul {
  list-style: none;
}

#sidebar li {
  margin-top: 40px;
}

#page-content {
  margin-left: 100px;
}

.form-radio fieldset {
  border: none;
}

#get-in-touch td {
  min-width: 350px;
  padding: 0;
}

#question {
  margin: 0;
}

.name-field {
  height: 30px;
}

.message-field {
  font-size: 12px;
}

thead {
  text-align: left;
}

th {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
